set surround " surround plugin aktivieren
set multiple-cursors " multi-cursor plugin aktivieren
set commentary " code comment plugin aktivieren
set number " zeilen nummern anzeigen
set relativenumber " relative Zeilen nummern anzeigen
set showmode " vim modus unten anzeigen
set ignorecase " case bei suche ignorieren
set smartcase " wenn Großbuchstabe enthalten dann case nicht ignorieren in suche
set incsearch " cursor beim tippen zu nächstem suchergebnis springen lassen
set shiftround " Shift to the next round tab stop. 
set hlsearch " Highlight search result
set shiftwidth=2 " Set auto indent spacing.

" ---- CUSTOM KEY MAPPINGS ----
" Tauschen von , und ;
nnoremap , ;
nnoremap ; ,
" jk auf ESC im Insert mode mappen und ESC sperren
inoremap jk <esc>
inoremap <esc> <NOP>
